<div class="left">
	<div class="up"></div>
	<div class="votes"><%= likes %></div>
	<div class="down"></div>
</div>
<a href="#/recipe/<%= recipeName %>/<%= versions_id %>"class="mid">
	<div class="infodata"><%= datetime %>, von <%= user.name %></div>
	<div class="title"><%= syntax %></div>
	<div class="text"><%= text %></div>
</a>