<li class="messagedialog <% if(self) { print("self"); } %>">
	<a href="<%= senderPath %>" class="user_pic"><img src="<%= imagePath %>" alt=""></a>
	<div class="comment_arrow"></div>
	<div class="messagecontainer">
		<div class="message_headline">
			<a href="<%= senderPath %>"><%= sender %></a>
			<span class="datetime"><%= date %></span>
		</div>
		<div class="message_content">
			<p><%= text %></p>
		</div>
	</div>
</li>