<li>
	<a href="<%= uri %>" class="frame_big draft">
		<div class="frame_big_left"></div>
		<div class="frame_big_main">
			<div class="date_container">
				<div class="date"><%= date %></div>
				<div class="year"><%= year %></div>
			</div>
			<div class="recipe_img">
				<img src="<%= imagePath %>">
			</div>
			<div class="recipe_text">
				<h3><%= name %></h3>
				<p><%= description %></p>
			</div>
		</div>
		<div class="frame_big_right"></div>
	</a>
	<div class="delete" title="Entwurf löschen"><span></span></div>
</li>
