<p id="register_forward">Wir können dich auch direkt <a href="<%= redirect %>" target="_blank">weiterleiten</a>!

<div id="register_mailprovider">
    <a href="<%= redirect %>" target="_blank"><img src="<%= imagePath %>" alt="<%= shortName %>"/></a>
    <div id="register_copyright">&copy; <%= fullName %></div>
</p>
